version: "3.8"
services:
  makna-backend:
    build: .
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.makna-backend.rule=Host(`makna.be.vncnttan.my.id`)"
      - "traefik.http.routers.makna-backend.entrypoints=websecure"
      - "traefik.http.routers.makna-backend.tls.certresolver=app1"
      - "traefik.http.services.makna-backend.loadbalancer.server.port=3000"
    environment:
      - DATABASE_URL=postgresql://postgres:P@55w0rdpg4dm1n@makna.vncnttan.my.id:5439/garuda-hack-6.0-be?schema=public
      - PORT=3000
      - FRONTEND_URL=makna.vncnttan.my.id
      - JWT_SECRET=f90f0df1748398b1d2806db42249bf7b
    volumes:
      - ./public:/app/public
#     networks:
#       - makna-backend-network
#       - reverse-proxy

# networks:
#   makna-backend-network:
#     external: true

#   reverse-proxy:
#     external: true
